*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  color: "rgb(255, 255, 255)";
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: rgb(18, 18, 18);
}
